apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: gitwatchers.iceci.io
spec:
  group: iceci.io
  names:
    kind: GitWatcher
    listKind: GitWatcherList
    plural: gitwatchers
    singular: gitwatcher
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Phase
      format: byte
      jsonPath: .status.phase
      name: phase
      type: string
    - description: Age
      format: date-time
      jsonPath: .metadata.creationTimestamp
      name: age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        type: object
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            type: object
            required:
            - git
            - schedule
            properties:
              git:
                type: object
                required:
                - repositoryURL
                properties:
                  auth:
                    type: object
                    required:
                    - secret
                    - type
                    properties:
                      secret:
                        type: string
                      type:
                        type: string
                        enum:
                        - token
                        - ssh
                  repositoryURL:
                    type: string
              schedule:
                type: string
          status:
            type: object
            properties:
              buildNumber:
                type: integer
              knownGitEvent:
                type: object
                properties:
                  commits:
                    type: array
                    items:
                      type: object
                      required:
                      - name
                      - refName
                      - sha
                      - type
                      properties:
                        name:
                          type: string
                        refName:
                          type: string
                        sha:
                          type: string
                        type:
                          type: string
                  pullRequests:
                    type: array
                    items:
                      type: object
                      required:
                      - name
                      - refName
                      - sha
                      - type
                      properties:
                        name:
                          type: string
                        refName:
                          type: string
                        sha:
                          type: string
                        type:
                          type: string
                  tags:
                    type: array
                    items:
                      type: object
                      required:
                      - name
                      - refName
                      - sha
                      - type
                      properties:
                        name:
                          type: string
                        refName:
                          type: string
                        sha:
                          type: string
                        type:
                          type: string
              lastFailedRun:
                type: object
                properties:
                  runTime:
                    type: string
                    format: date-time
              lastSuccessfulRun:
                type: object
                properties:
                  runTime:
                    type: string
                    format: date-time
              message:
                type: string
              phase:
                type: string
              reason:
                type: string
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
