apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: workspaces.iceci.io
spec:
  group: iceci.io
  names:
    kind: Workspace
    listKind: WorkspaceList
    plural: workspaces
    singular: workspace
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Phase
      format: byte
      jsonPath: .status.phase
      name: phase
      type: string
    - description: PVCName
      format: byte
      jsonPath: .status.volume.pvcName
      name: pvcname
      type: string
    - description: SubPath
      format: byte
      jsonPath: .status.volume.subPath
      name: subpath
      type: string
    - description: Age
      format: date-time
      jsonPath: .metadata.creationTimestamp
      name: age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Workspace generator
        type: object
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            type: object
          status:
            type: object
            properties:
              message:
                type: string
              phase:
                type: string
              reason:
                type: string
              volume:
                type: object
                required:
                - pvcName
                properties:
                  pvcName:
                    type: string
                  subPath:
                    type: string
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
