apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: containerruns.iceci.io
spec:
  group: iceci.io
  names:
    kind: ContainerRun
    listKind: ContainerRunList
    plural: containerruns
    singular: containerrun
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Phase
      format: byte
      jsonPath: .status.phase
      name: phase
      type: string
    - description: Pod name
      format: byte
      jsonPath: .status.podStatus.name
      name: podName
      priority: 1
      type: string
    - description: ExitWithError code
      format: int32
      jsonPath: .status.podStatus.exitCode
      name: exitCode
      priority: 1
      type: integer
    - description: Age
      format: date-time
      jsonPath: .metadata.creationTimestamp
      name: age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        type: object
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            type: object
            required:
            - image
            properties:
              cleanupTTL:
                type: integer
              environment:
                type: array
                items:
                  type: object
                  required:
                  - name
                  properties:
                    fromSecret:
                      type: string
                    name:
                      type: string
                    value:
                      type: string
              files:
                type: array
                items:
                  type: object
                  required:
                  - fromSecret
                  - path
                  properties:
                    fromSecret:
                      type: string
                    path:
                      type: string
              hosts:
                type: object
                additionalProperties:
                  type: string
              image:
                type: string
              imagePullPolicy:
                description: PullPolicy describes a policy for if/when to pull a container
                  image
                type: string
              imagePullSecret:
                type: string
              runtimeProfile:
                type: string
              script:
                type: string
              serviceAccountName:
                type: string
              volumeMounts:
                type: array
                items:
                  type: object
                  required:
                  - name
                  - pvcName
                  properties:
                    name:
                      type: string
                    path:
                      type: string
                    pvcName:
                      type: string
                    subPath:
                      type: string
              workingDir:
                type: string
          status:
            type: object
            properties:
              cleanupTime:
                type: string
                format: date-time
              duration:
                type: integer
                format: int32
              finishedTime:
                type: string
                format: date-time
              initializedTime:
                type: string
                format: date-time
              message:
                type: string
              pendingDuration:
                type: integer
                format: int32
              pendingStartedTime:
                type: string
                format: date-time
              phase:
                type: string
              podStatus:
                type: object
                properties:
                  exitCode:
                    description: Pod main container (at index 0) return code
                    type: integer
                    format: int32
                  name:
                    description: Name of pod
                    type: string
              reason:
                type: string
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
