apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: workspaces.icekube.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.phase
    description: Phase
    format: byte
    name: phase
    priority: 1
    type: string
  - JSONPath: .status.volume.pvcName
    description: PVCName
    format: byte
    name: pvcname
    priority: 2
    type: string
  - JSONPath: .status.volume.subPath
    description: SubPath
    format: byte
    name: subpath
    priority: 3
    type: string
  group: icekube.io
  names:
    kind: Workspace
    listKind: WorkspaceList
    plural: workspaces
    singular: workspace
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Workspace generator
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            storageType:
              enum:
              - dynamic
              - shared
              type: string
          required:
          - storageType
          type: object
        status:
          properties:
            message:
              type: string
            phase:
              type: string
            reason:
              type: string
            volume:
              properties:
                pvcName:
                  type: string
                subPath:
                  type: string
              required:
              - pvcName
              type: object
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
